.bt1 {
    width: 150px;
    height: 60px;
    padding: 20px;
    text-align: center;
    margin-left: 45%;
    margin-top: 20px;
    color: white;
    background-color: rgb(228, 85, 23);
    box-shadow: rgb(166, 61, 16) 0px 6px 2px 0px;
    border-radius: 10px;

}

.bt1:hover {
    background-color: rgb(255, 116, 56);
}

.bt1:active {
    background-color: rgb(214, 77, 19);
}


.bt2 {
    width: 150px;
    height: 60px;
    padding: 20px;
    text-align: center;
    margin-left: 45%;
    margin-top: 50px;
    color: white;
    background-color: rgb(13, 164, 26);
    box-shadow: rgb(10, 113, 34) 0px 6px 2px 0px;
    border-radius: 10px;

}

.bt2:hover {
    background-color: rgb(42, 199, 55);
}

.bt2:active {
    background-color: rgb(9, 146, 21);
}


.bt3 {
    width: 150px;
    height: 60px;
    padding: 20px;
    text-align: center;
    margin-left: 45%;
    margin-top: 50px;
    color: white;
    background-color: rgb(34, 132, 192);
    box-shadow: rgb(18, 72, 106) 0px 6px 2px 0px;
    border-radius: 10px;
}

.bt3:hover {
    background-color: rgb(38, 158, 232);
}

.bt3:active {
    background-color: rgb(16, 107, 163);
}

.bt4 {
    width: 150px;
    height: 60px;
    padding: 20px;
    text-align: center;
    margin-left: 45%;
    margin-top: 50px;
    color: white;
    background: rgb(51, 218, 251);
    background: linear-gradient(0deg, rgba(51, 218, 251, 1) 9%, rgb(242, 11, 184) 32%, rgba(242, 11, 184) 100%);
    box-shadow: rgb(23, 108, 114) 0px 6px 2px 0px;
    border-radius: 10px;
}

.bt4:hover {
    background: linear-gradient(0deg, rgb(107, 230, 255) 9%, rgb(253, 82, 210) 32%, rgb(249, 105, 213) 100%);
}

.bt4:active {
    background: linear-gradient(0deg, rgb(70, 154, 171) 9%, rgb(221, 71, 184)32%, rgb(204, 86, 175) 100%);
}

.header {
    font-weight: bolder;
    padding: 20px;
    margin-left: 46%;
    margin-top: 20px;
}